:root {
    --default-font-family: 'Roboto', sans-serif;
    --main-color: #1B1B1B; 
    --secondary-color: #282323;
}
/* Homepage */
body {
    color: white;
    text-align: center;
}
.hero-homepage {
    background-image: url(/img/bg.png);
}
.hero-name {
    font-size: 24px;
    font-weight: 700;
}
.hero-profession {
    font-size: 72px;
    font-weight: 700;
}
.photo-gallery {
    background-color: var(--main-color);
}
footer {
    background-color: var(--secondary-color);
}