:root {
    --default-font-family: 'Roboto', sans-serif;
    --main-color: #1B1B1B; 
    --secondary-color: #282323;
    --third-color: #F65282;
}
/* Homepage */
body {
    color: white;
    text-align: center;
    background-color: var(--main-color);
}
.navbar {
    height: 118px;
}
.logo-navbar {
    margin-left: 140px;
    margin-right: 720px;
}
.hero-homepage {
    background-image: url(/img/bg.png);
    height: 900px;
}
.introduction {
    width: 100%;
    height: 780px;
    padding-top: 160px;
}
.hero-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}
.hero-profession {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.1em;
    margin: 25px;
    padding: 0;
    text-transform: uppercase;
}
.hero-description {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.hero-button {
    margin-top: 50px;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    color: var(--secondary-color);
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.photo-gallery {
    padding: 0;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: var(--main-color);
}
.image-row {
    padding: 20px;
}
.col {
    margin: 0;
    padding: 0;
}
footer {
    background-color: var(--secondary-color);
    height: 100px;
    padding: 40px;
}
.icon {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-left: 30px;
}
.watermark {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* About */
.about-me-block {
    padding: 0;
    margin-left: 40px;
    text-align: left;
}
.about-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: var(--third-color);
    padding: 0;
    margin-top: 51px;
    text-transform: uppercase;
}
.about-header {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 34px;
}
.about-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}
.about-icon {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-right: 30px;
}
.camera {
    background-color: var(--secondary-color);
    margin-top: 32px;
    margin-bottom: 67px;
    display: flex;
}
.camera-img {
    width: 70px;
    height: 40.57px;
    margin: 20px;
}
.camera-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin: 25px 20px 25px 10px;
}
.contact-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--secondary-color);
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    text-decoration: none;
    padding: 18px 45px;
    text-transform: uppercase;
}
/* Contact */
.contact-header {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.1em;
    padding: 0;
    margin-top: 32px;
    text-transform: uppercase;
}
.address-block {
    padding: 0;
    margin-top: 140px;
    margin-bottom: 85px;

}
.contact-title {
    color: var(--third-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    padding: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.contact-info {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 40px;
}
.contact-info:hover {
    color: var(--third-color);
}
.icon-contact {
    margin-right: 10px;
    font-weight: 900;
    font-size: 14px;
    line-height: 30px;
}


/* Gallery */

.galley-header {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.1em;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 65px;
    text-transform: uppercase;
}

@media (max-width: 900px) {
    .hero-profession {
        font-size: 40px;
    }
    .address-block {
        margin-top: 85px;
    }
    .navbar {
        height: 70px;
    }
    .about-header {
        font-size: 40px;
    }
}
           